@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
	font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
	color: var(--white);
}

:root {
	--orange: #fd7702;
	--white: #f9f7f7;
	--blue-50: #65c6c4;
	--blue-100: #408ab4;
	--blue-150: #34699a;
	--blue-200: #112d4e;
	--text-black: #2e3440;
}

body,
html {
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	width: 100%;
}

h1 {
	margin: 0;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: var(--white);
	text-transform: uppercase;
}

/* NAV BAR */

header {
	background-color: var(--blue-150);
	padding: 5px 0;
}

nav {
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.inuse {
	color: var(--orange);
}

.nav-list {
	display: flex;
	list-style: none;
	gap: 8px;
}

/* HOME PAGE */

main {
	width: 100%;
	height: 100%;
}

#home {
	height: 100vh;
	background-color: var(--blue-100);
}

.boat-gif {
	display: none;
}

/*  COLOR SECTION */

#color-section {
	background-color: var(--white);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: min-content;
	padding-bottom: 10px;
}

.theme-title {
	color: var(--text-black);
	margin-bottom: 40px;
}

.color-container {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 40px;
	border-bottom: 2px rgb(0 0 0 / 50%) solid;
	padding-top: 60px;
}

.color-container:last-child {
	border-bottom: none;
}

.color-box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 10px;
}

.color-frame {
	width: content-min;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2px;
}

.color {
	height: 115px;
	width: 115px;
	border-radius: 10%;
	border: 1.5px solid rgb(0 0 0 / 30%);
}

input[type='text'] {
	text-align: center;
	border: none;
	width: 100px;
	padding: 2px;
	border-radius: 2%;
	background-color: var(--white);
	color: rgb(0 0 0 / 50%);
	font-size: 1rem;
}

/* COLORS */

.c112d4e {
	background-color: var(--blue-200);
}

.c34699a {
	background-color: var(--blue-150);
}

.c408ab4 {
	background-color: var(--blue-100);
}

.c65c6c4 {
	background-color: var(--blue-50);
}

.cfd7702 {
	background-color: var(--orange);
}

.cf9f7f7 {
	background-color: var(--white);
}

.cf9f871 {
	background-color: #f9f871;
}

.cffc75f {
	background-color: #ffc75f;
}

.cff9671 {
	background-color: #ff9671;
}

.cff6f91 {
	background-color: #ff6f91;
}

.cd65db1 {
	background-color: #d65db1;
}

.c845ec2 {
	background-color: #845ec2;
}

/* FOOTER */

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	background-color: var(--blue-100);
}

/* CONTACT */

#contactBod{ 	
	background-image: linear-gradient(#dbd7d7, #38769081);
	
}

#contactHeader{
	background-color: transparent;
	font-size: 25px;
	margin-top: -15px;
}

#contactMain, h2 {
	font-size: 50px;
	margin-top: -3px;
	color: #f9f7f7;
}

#contactMain{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 82.8vh;
}

form {
	margin-top: -30px;
	display: flex;
  	flex-direction: column;
	align-items: center;
}

#subject {
	width: 40vw;
	text-align: left;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-bottom: 10px;
}

textarea{
	width: 40vw;
	color: black;
	text-align: left;
	font-size: 16px;
	border: none;
}

textarea::placeholder{
	text-align: center;
	font-size: 20px;
	padding: 14.5% 0;
}

#subject::placeholder{
	font-size: 18px;
}

input[type="submit"]{
	background-color: #fd7702;
	border: none;
	width: 25%;
	padding: 10px;
	font-size: 25px;
}

#contactFoot{
	background-color: #232A5C;
}

@media screen and (max-width: 768px) {
	#home {
		background-color: var(--blue-100);
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.color-box {
		flex-direction: column;
		gap: 6px;
	}

	.color-frame {
		flex-direction: row;
	}

	.color {
		width: 90px;
		height: 90px;
		margin-bottom: 0;
	}

	.boat-gif {
		display: block;
		width: 300px;
		height: 300px;
	}


	/* CONTACT */
	#contactBod{ 	
		background-image: radial-gradient(at top right,#72C6EF, #004E8F);
		/* Blei ikkje heilt lik som i figma, men usikker på kordan i ska ordne d */
	}

	#contactHeader{
		background-color: #408AB4;
		margin-bottom: 15px;
	}
	
	#contactMain, h2 {
		font-size: 40px;
		color: #f9f7f7;
	}
	
	#contactMain{
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 82.8vh;
	}
	
	form {
		margin-top: -30px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	#subject {
		width: 70vw;
		text-align: left;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-bottom: 10px;
	}
	
	textarea{
		width: 70vw;
		height: 50vh;
		color: black;
		text-align: left;
		font-size: 16px;
		border: none;
	}
	
	textarea::placeholder{
		text-align: center;
		font-size: 30px;
		
	}
	
	#subject::placeholder{
		font-size: 24px;
	}
	
	input[type="submit"]{
		background-color: #fd7702;
		border: none;
		width: 50%;
		padding: 10px;
		font-size: 24px;
	}
	
	#contactFoot{
		background-color: transparent;
		font-size: 22px;
	}
}
