/** IMPORTS **/

@import 'https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap';
@import 'https://fonts.googleapis.com/css2?family=PT+Sans&display=swap';

/** END IMPORTS **/

/** VARIABLES **/
:root {
	--orange: #fd7702;
	--white: #f9f7f7;
	--blue-50: #65c6c4;
	--blue-100: #408ab4;
	--blue-150: #34699a;
	--blue-200: #112d4e;
	--text-black: #2e3440;
}

/** END VARIABLES **/

/** KEYFRAMES **/

@keyframes transition-in {
	from {
		opacity: 0;
		transform: rotateX(-10deg);
	}

	to {
		opacity: 1;
		transform: rotateX(0);
	}
}

@keyframes fly-in {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes fly-out {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(100%);
	}
}

/** END KEYFRAMES **/

/** GLOBAL **/

* {
	font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
	color: var(--white);
}

body,
html {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	height: 100%;
	width: 100%;
	background-color: var(--blue-100);
}

h1 {
	filter: drop-shadow(0 4px 4px rgb(0 0 0 / 25%));
}

a {
	text-decoration: none;
	color: var(--white);
}

span {
	color: var(--blue-200);
}

header {
	background-color: var(--blue-100);
	filter: drop-shadow(0 4px 4px rgb(0 0 0 / 25%));
	height: 75px;
	position: fixed;
	z-index: 100;
	width: 100vw;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav {
	width: 95%;
	display: flex;
	justify-content: space-between;
	font-size: 1.5rem;
	align-items: center;
}

main {
	width: 100%;
	height: 100%;
	animation: transition-in 750ms;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input[type='text'] {
	outline: none;
}

textarea {
	width: 40vw;
	color: var(--text-black);
	text-align: left;
	font-size: 20px;
	border: 1px solid transparent;
	border-radius: 2px;
	outline: none;
	font-family: 'PT Sans', sans-serif;
	padding: 7px 0 0 10px;
	filter: drop-shadow(0 4px 4px rgb(0 0 0 / 25%));
}

textarea:focus {
	border: 1px solid var(--orange);
}

textarea::placeholder {
	font-size: 20px;
}

.gif {
	display: none;
}

/** END GLOBAL **/

/** HEADER **/

.menu-btn {
	display: none;
}

.inuse {
	color: var(--orange);
}

.nav-list {
	display: flex;
	list-style: none;
	gap: 20px;
}

/** END HEADER **/

/** LOGO **/

.anchor {
	height: 20px;
	width: auto;
}

nav > .logo > .anchor {
	height: 20px;
	width: auto;
}

.logo-text {
	color: var(--orange);
}

.logo {
	display: flex;
	align-items: center;
	gap: 5px;
}

/** END LOGO **/

/** HOME PAGE **/

#home {
	min-height: 100vh;
	position: relative;
}

#home > .content {
	display: flex;
	justify-content: center;
}

.button-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

.button-container > button {
	display: flex;
	align-items: center;
	gap: 5px;
	padding: 4px;
	background-color: var(--orange);
	border: none;
	outline: none;
	border-radius: 3px;
}

#submit-btn {
	filter: drop-shadow(0 4px 4px rgb(0 0 0 / 25%));
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	background-color: var(--orange);
	border: none;
	outline: none;
	border-radius: 10px;
	width: 190px;
	padding: 10px 0;
	font-size: 2rem;
	transition: all 0.15s ease-in-out;
}

#submit-btn:hover {
	cursor: pointer;
	background-color: var(--blue-50);
}

#submit-btn > .anchor {
	height: 24px;
	width: auto;
}

#color-input {
	filter: drop-shadow(0 4px 4px rgb(0 0 0 / 25%));
	display: flex;
	align-items: center;
	color: var(--white);
	background-color: var(--blue-200);
	font-size: 2rem;
	border: none;
	border-radius: 10px;
	width: 190px;
	padding: 10px 0;
	text-align: center;
}

#wave-img {
	position: absolute;
	bottom: 0;
	width: 100vw;
	height: auto;
	z-index: -1;
}

.home-text {
	font-size: 50px;
	text-align: center;
	margin: 0 0 30px;
}

.title {
	color: var(--orange);
	font-size: 5rem;
	margin: 0;
	margin-top: 140px;
}

.byline {
	color: var(--white);
	margin: 0 0 10px;
}

#color-section {
	background-color: var(--white);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: min-content;
	padding: 40px 0;
}

.palette-name {
	color: var(--text-black);
	margin-bottom: 40px;
	font-size: 3rem;
}

.color-container {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 40px;
	border-bottom: 2px rgb(0 0 0 / 20%) solid;
	padding-top: 60px;
}

.color-container:last-child {
	border-bottom: none;
}

.color-box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 10px;
}

.color-frame {
	width: min-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2px;
}

.color {
	height: 8vw;
	width: 8vw;
	border-radius: 10%;
	border: 1.5px solid rgb(0 0 0 / 30%);
}

.color-code-input {
	text-align: center;
	border: none;
	width: 100px;
	padding: 2px;
	border-radius: 2%;
	background-color: var(--white);
	color: rgb(0 0 0 / 50%);
	font-size: 1.75rem;
}

.back-to-top {
	position: fixed;
	bottom: 35px;
	right: 35px;
	display: inline-block;
}

.back-to-top > img {
	padding: 6px;
	margin: 0;
	background-color: var(--blue-100);
	border-radius: 50%;
	width: 36px;
	height: 36px;
}

/** ABOUT **/

#about-main {
	background-image: url('../img/about-wave.svg');
	background-repeat: no-repeat;
	background-size: cover;
}

#about {
	min-height: 100vh;
	margin: 0 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#about > .about-text {
	text-align: center;
	max-width: 100ch;
}

#about > .about-text > h1 {
	font-size: 4rem;
	color: var(--orange);
	margin-bottom: 10px;
	margin-top: 140px;
}

#about > .about-text > .text-container {
	text-align: left;
}

#about > .about-text > .text-container > p {
	font-size: 1.3rem;
	font-family: 'PT Sans', sans-serif;
}

/** END ABOUT **/

/** CONTACT **/

#contact-mobile {
	display: none;
}

#contact-bod {
	background-color: var(--blue-150);
}

#contact-header {
	background-color: transparent;
	font-size: 25px;
	margin-top: -15px;
}

#contact-main {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	height: 100vh;
}


#contact-main > .container > h1 {
	font-size: 4rem;
	margin: 0 0 10px;
	color: var(--orange);
	margin-top: 140px;
}


#inputs {
	padding: 40px;
	backdrop-filter: blur(10px);
}

#subject {
	width: 40vw;
	text-align: left;
	border-radius: 2px;
	padding: 7px 0 7px 10px;
	margin-bottom: 10px;
	font-size: 18px;
	font-family: 'PT Sans', sans-serif;
	border: 1px solid transparent;
	filter: drop-shadow(0 4px 4px rgb(0 0 0 / 25%));
	color: var(--text-black);
}

#subject:focus {
	border: 1px solid var(--orange);
}

#subject::placeholder {
	font-size: 18px;
}

#submit {
	background-color: var(--orange);
	border: 1px;
	border-radius: 2px;
	width: 25%;
	max-width: 110px;
	padding: 10px;
	font-size: 25px;
	margin-top: 20px;
	transition: all 0.2s ease;
	filter: drop-shadow(0 4px 4px rgb(0 0 0 / 25%));
}

#submit:hover {
	cursor: pointer;
	background-color: var(--blue-50);
}

/** END CONTACT **/

@media screen and (max-width: 768px) {
	/** GLOBAL **/
	header {
		background-color: var(--blue-100);
		filter: drop-shadow(0 4px 4px rgb(0 0 0 / 25%));
		height: 60px;
		position: fixed;
		z-index: 100;
		top: 0;
		display: flex;
		justify-content: center;
	}

	nav {
		width: 90%;
		font-size: 1.5rem;
		justify-content: space-between;
		align-items: center;
		text-align: center;
	}

	.gif {
		display: block;
		width: 250px;
		height: 250px;
		margin: 0 auto;
	}

	#wave-img {
		display: none;
	}

	/** END GLOBAL **/

	/** HEADER **/

	header > nav > .nav-list {
		display: none;
	}

	header > nav > .nav-list.show {
		display: flex;
		flex-direction: column;
		gap: 20px;
		position: fixed;
		width: 50vw;
		height: 100vh;
		top: 60px;
		right: 0;
		background-color: var(--blue-150);
		padding-top: 40px;
	}

	nav > .logo > .anchor {
		height: 20px;
		width: auto;
	}

	.text-content > p {
		font-size: 1.3rem;
		font-family: 'PT Sans', sans-serif;
		text-align: center;
	}

	nav > .logo > p {
		margin: 0;
	}

	.menu-btn {
		cursor: pointer;
		transition: all 0.5s ease-out;
		height: min-content;
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	.btn-line {
		width: 26px;
		height: 3px;
		background-color: var(--white);
		transition: all 0.5s ease-out;
		border-radius: 2px;
	}

	.close {
		transform: rotate(180deg);
	}

	.close > .btn-line:first-child {
		transform: rotate(45deg) translate(5px, 5px);
	}
	
	.close > .btn-line:nth-child(2) {
		opacity: 0;
	}
	
	.close > .btn-line:last-child {
		transform: rotate(-45deg) translate(7px, -6px);
	}

	header > nav > .nav-list.fly-in {
		animation: fly-in 500ms;
	}
	
	header > nav > .nav-list.fly-out {
		animation: fly-out 500ms;
	}

	/** END HEADER **/

	/** HOME **/

	#home {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-items: center;
		min-height: 100vh;
	}

	#home > .content > .container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin-top: 0;
	}

	.home-text {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin-bottom: 20px;
	}

	.home-text > .title {
		color: var(--orange);
		font-size: 3rem;
		margin: 0;
		padding: none;
		margin-top: 100px;
	}

	.home-text > .byline {
		font-size: 2rem;
		margin: 0;
	}

	.home-text > .byline > span {
		color: var(--blue-50);
	}

	.button-container {
		gap: 8px;
	}

	#color-input {
		font-size: 1.2rem;
		padding: 8px 0;
		width: 100px;
		border-radius: 10px;
		filter: drop-shadow(0 4px 4px rgb(0 0 0 / 25%));
	}

	#submit-btn {
		background-color: var(--blue-50);
		width: 100px;
		filter: drop-shadow(0 4px 4px rgb(0 0 0 / 25%));
		font-size: 1.2rem;
		padding: 8px 0;
		border-radius: 10px;
		display: flex;
		justify-content: center;
	}

	#submit-btn > .anchor {
		height: 14px;
		width: 14px;
	}

	.palette-name {
		color: var(--text-black);
		margin-bottom: 40px;
		font-size: 2.3rem;
		filter: none;
		text-align: center;
	}

	.color-box {
		flex-direction: column;
		gap: 6px;
	}

	.color-frame {
		flex-direction: row;
	}

	.color {
		width: 90px;
		height: 90px;
		margin-bottom: 0;
	}

	.boat-gif {
		margin-top: 40px;
	}

	.back-to-top {
		bottom: 15px;
		right: 15px;
	}

	.back-to-top > img {
		padding: 6px;
		width: 30px;
		height: 30px;
	}

	/** END HOME **/

	/** CONTACT **/

	#contact-bod {
		background-color: var(--blue-100);
		background-image: none;
	}

	#contact-header {
		background-color: var(--blue-100);
		margin-bottom: 0;
		margin-top: 0;
	}

	#contact-main {
		display: none;
	}

	#contact-mobile {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 100px;
	}

	.text-content {
		max-width: 45ch;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: min-content;
	}

	.text-content > h1 {
		font-size: 3rem;
		text-align: center;
		color: var(--orange);
		margin-bottom: 10px;
		margin-top: 100px;
	}

	.text-content > p > .mail-link {
		font-family: 'PT Sans', sans-serif;
		color: var(--blue-50);
		text-transform: none;
		text-decoration: underline;
		font-size: 1.4rem;
	}

	/** END CONTACT **/

	/** ABOUT **/

	#about-main {
		background-image: none;
	}

	#about {
		min-height: 100vh;
		margin: 0 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#about > .about-text {
		max-width: 45ch;
	}

	#about > .about-text > h1{
		margin-top: 100px;
		font-size: 3rem;
	}

	#about > .about-text > .text-container > p {
		font-size: 1rem;
	}

	/** END ABOUT **/
}
