@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
	font-family: 'Bebas Neue', cursive;
}

:root {
	--orange: #fd7702;
	--white: #f9f7f7;
	--blue-50: #65c6c4;
	--blue-100: #408ab4;
	--blue-150: #34699a;
	--blue-200: #112d4e;
	--text-black: #2e3440;
	--light: 80;
	--threshold: 60;
}

body,
html {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	height: 100%;
	width: 100%;
}

a {
	text-decoration: none;
	color: var(--white);
	text-transform: uppercase;
}

/* NAV BAR */

header {
	padding: 5px 0;
	height: min-content;
	width: 100%;
	position: relative;
	top: 0;
}

nav {
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.inuse {
	color: var(--orange);
}

.nav-list {
	display: flex;
	list-style: none;
	gap: 8px;
}


/* LOGO */

.anchor {
	height: 20px;
	width: 20px;
}

.logo-text {
	color: var(--orange);
}

.logo {
	display: flex;
	align-items: center;
	gap: 5px;
}

/* HOME PAGE */

main {
	width: 100%;
	height: 100%;
}

#home {
	height: 100vh;
}

.button-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

#submit-btn {
	display: flex;
	align-items: center;
	gap: 5px;
	padding: 4px;
	background-color: var(--orange);
	border: none;
	outline: none;
	border-radius: 3px;
}

#submit-btn:hover {
	cursor: pointer;
}

input[type="text"] {
	outline: none;
}

#color-input {
	color: var(--white);
	background-color: var(--blue-200);
	border: none;
	border-radius: 3px;
	padding: 4px;
}

.boat-gif {
	display: none;
}

.about-gif {
	display: none;
}

/*  COLOR SECTION */

#color-section {
	background-color: var(--white);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: min-content;
	padding-bottom: 10px;
}

.palette-name {
	color: var(--text-black);
	margin-bottom: 40px;
	font-size: 2rem;
}

.color-container {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 40px;
	border-bottom: 2px rgb(0 0 0 / 20%) solid;
	padding-top: 60px;
}

.color-container:last-child {
	border-bottom: none;
}

.color-box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 10px;
}

.color-frame {
	width: content-min;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2px;
}

.color {
	height: 100px;
	width: 100px;
	border-radius: 10%;
	border: 1.5px solid rgb(0 0 0 / 30%);
}

input[type='text'] {
	text-align: center;
	border: none;
	width: 100px;
	padding: 2px;
	border-radius: 2%;
	background-color: var(--white);
	color: rgb(0 0 0 / 50%);
	font-size: 1.5rem;
}

#about {
	min-height: 100vh;
}

/* FOOTER */

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	background-color: var(--blue-100);
}

footer > .logo > .anchor-footer  {
	height: 15px;
	width: 15px;
}

@media screen and (max-width: 768px) {
	* {
		color: var(--white);
	}

	body {
		background-color: var(--blue-100);
	}

	header {
		background-color: var(--blue-100);
		filter: drop-shadow(0 4px 4px rgb(0 0 0 / 25%));
		height: 75px;
		position: fixed;
		z-index: 100;
	}

	nav {
		position: relative;
		width: 90%;
		top: 70%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 1.5rem;
	}

	nav > .logo > .anchor {
		height: 18px;
		width: 18px;
	}

	main {
		min-height: 100vh;
	}

	#home {
		display: grid;
		grid-template-rows: 1fr 1fr;
		justify-items: center;
	}

	#home > .content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.home-text {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin-bottom: 42px;
		margin-top: 75px;
	}

	.home-text > .title {
		color: var(--orange);
		font-size: 3.5rem;
		margin-top: 3.5rem;
		margin-bottom: 0;
	}

	.home-text > .byline {
		font-size: 2.2rem;
		margin: 0;
	}

	.home-text > .byline > span {
		color: var(--blue-50);
	}

	#color-input {
		font-size: 1.5rem;
		padding: 10px 0;
		width: 140px;
		border-radius: 10px;
		filter: drop-shadow(0 4px 4px rgb(0 0 0 / 25%));
	}

	#submit-btn {
		background-color: var(--blue-50);
		width: 140px;
		filter: drop-shadow(0 4px 4px rgb(0 0 0 / 25%));
		font-size: 1.5rem;
		padding: 10px 0;
		border-radius: 10px;
		display: flex;
		justify-content: center;
	}

	#submit-btn > .anchor {
		height: 20px;
		width: 20px;
	}

	.color-box {
		flex-direction: column;
		gap: 6px;
	}

	.color-frame {
		flex-direction: row;
	}

	.color {
		width: 90px;
		height: 90px;
		margin-bottom: 0;
	}

	.boat-gif {
		display: block;
		width: 300px;
		height: 300px;
		margin: auto
	}

	footer {
		font-size: 1.125rem;
		display: flex;
		align-items: center;
	}

	footer > .logo > img {
		height: 18px;
		width: 18px;
	}

	#about {
		min-height: 100vh;
		margin:	90px 10px 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#about > .about-text {
		text-align: center;
		max-width: 45ch;
	}

	#about > .about-text > h1 {
		font-size: 3.5rem;
		color: var(--orange);
		margin-bottom: 10px;
	}

	#about > .about-text > .text-container {
		text-align: left;
	}

	#about > .about-text > .text-container > p {
		font-size: 1.3rem;
		font-family: 'PT Sans', sans-serif;
	}

	.about-gif {
		display: block;
		width: 300px;
		height: 300px;
		margin-top: 50px;
	}
}
