/** KEYFRAMES **/

@keyframes transition-in {
	from {
		opacity: 0;
		transform: rotateX(-10deg);
	}

	to {
		opacity: 1;
		transform: rotateX(0);
	}
}

@keyframes fly-in {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes fly-out {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(100%);
	}
}

/** END KEYFRAMES **/

/** MAIN **/

main {
	animation: transition-in 750ms;
}

/** END MAIN **/


/** NAV BUTTON **/
.close {
	transform: rotate(180deg);
}

.close > .btn-line:first-child {
	transform: rotate(45deg) translate(5px, 5px);
}

.close > .btn-line:nth-child(2) {
	opacity: 0;
}

.close > .btn-line:last-child {
	transform: rotate(-45deg) translate(7px, -6px);
}

/** END NAV BUTTON **/

/** NAV MENU **/

header > nav > .nav-list.fly-in {
	animation: fly-in 500ms;
}

header > nav > .nav-list.fly-out {
	animation: fly-out 500ms;
}

/** END NAV MENU **/
